@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Checkout
7. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
.nav_menu
 {	
	overflow: hidden;
	background-color: #5a6068;
	color:white;
	margin:15px;
}
.text_menu{

	float:left;
	color:white;
	color: white;
	text-align: center;
	padding-top: 14px;
	padding-left: 83px;
	padding-right: 83px;
	padding-bottom: 14px;
	text-decoration: none;
}

h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.nopadding
{
	padding: 0px !important;
}

/*********************************
3. Header
*********************************/

/*********************************
4. Menu
*********************************/


/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 362px;
	background: #FFFFFF;
	z-index: 2;
	padding-top: 130px;
	padding-left: 60px;
	padding-right: 60px;
}
.home_container
{
	width: 100%;
	height: 100%;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_content_container
{
	position: absolute;
	top: 53%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
}
.home_content
{
	width: 580px;
}
.breadcrumbs ul li
{
	display: inline-block;
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: #e95a5a;
}
.breadcrumbs ul li:not(:last-child)::after
{
	display: inline-block;
	content: '/';
	margin-left: 10px;
	margin-right: 6px;
	color: #FFFFFF;
}
.breadcrumbs ul li a
{
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.breadcrumbs ul li a:hover
{
	color: #e95a5a;
}

/*********************************
6. Account
*********************************/

.account
{
	width: 100%;
	padding-top: 98px;
	padding-bottom: 99px;
	background: #FFFFFF;
	z-index: 2;
	
}
.account_section
{
	width: 100%;
	padding-top: 44px;
	border:1px solid #e2def3;
	padding:40px;

}

.section_title_profile
{
	font-size: 24px;
	font-weight: 600;
	color: #1b1b1b;
	border-bottom:2px solid #0064fa;
	padding-bottom: 3px;
	padding-left: 10px;
	border-left: 8px solid red;
	

}
.section_title
{
	font-size: 24px;
	font-weight: 600;
	color: #1b1b1b;
	border-bottom:2px solid #0064fa;
	padding-bottom: 3px;
	padding-left: 10px;
	border-left: 8px solid red;

}

.section_subtitle
{
	font-size: 12px;
	font-weight: 400;
	color: #6c6a74;
	margin-top: 3px;
}
.account_form_container
{
	width: 100%;
	margin-top: 46px;
}
.personal_form,.profile_form,.security_form > div:not(:last-child)
{
	margin-bottom: 14px;
}
.personal_form,.profile_form label,.security_form
{
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
}
.account_input
{
	width: 100%;
	height: 52px;
	background: #f2f4f8;
	border: none;
	outline: none;
	padding-left: 15px;
}
.profile_input
{
	width: 100%;
	height: 52px;
	background: white;
	border: none;
	outline: none;
	padding-left: 15px;
}
.dropdown_item_select
{
	-webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
	-webkit-user-select: none;
	background-image: url(../images/down.png);
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	color: #1b1b1b ;
}
.dropdown_item_select::-ms-expand
{
	display: none;
	
}
.profile
{
	width: 100%;
	padding-left: 60px;
	background: #f2f4f8;
	padding-bottom: 53px;
	padding-right: 58px;
}
.profile_list_container
{
	margin-top: 46px;
}
.profile_list_title
{
	font-size: 14px;
	font-weight: 400;
	color: #1b1b1b;
	padding-bottom:10px;
}
.profile_list li:not(:last-child)
{
	margin-bottom: 53px;
}
.profile_text
{
	font-size: 12px;
	font-weight: 400;
	font-style: italic;
	color: #6c6a74;
	margin-top: 10px;
}

.avatar_picture
{
	width:240px;
	height:240px;
	border:1px solid #e2def3;
	border-top-color: #f2f4f8;
	border-bottom-color: #0041a3;
	border-left-color: #f2f4f8;
	border-right-color: #f2f4f8;
	padding:8px;
}
.edit
{
	width: 100%;
	margin-top: 30px;
	border: 2pt solid #2b00eb;
	padding: 10px;
	background-color:rgb(14, 154, 209);
}
.edit:hover
{
	width: 100%;
	margin-top: 30px;
	border: 1pt solid #e2def3;
	padding: 10px;
	background-color:#1b1b1b;
	color:white;
}

.security
{
	display:none;
}

.page_button{

	float:left;
	color: white;
	background-color:#5a6068;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 82px;
	padding-right: 83px;
	border:none;
	
}

.page_button:hover{

	float:left;
	color: white;
	background-color: #1b1b1b;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 82px;
	padding-right: 83px;
	border:none;

}


/*******************************
7. Footer
*********************************/
